[Desktop Entry]
Name=Pi Presents Editor
Comment=Profile Editor for Pi Presents
Exec=python /home/pi/pipresents/pp_web_editor.py -l
Icon=/home/pi/pipresents/pp_resources/billboard_picture.png
Terminal=true
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true
X-KeepTerminal=true
